@import 'quill/dist/quill.snow.css';

body {
  margin: 0;
  background-color: #171717;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
}

.ql-toolbar.ql-snow .ql-stroke,
.ql-toolbar.ql-snow .ql-fill,
.ql-toolbar.ql-snow button,
.ql-toolbar.ql-snow select {
  color: white;
  fill: white;
  stroke: white;
}

.ql-tooltip {
  color: white;
}

.ql-toolbar.ql-snow .ql-picker-label {
  color: white;
}

.task-check {
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: transparent;
  border: 2px solid white;
  border-radius: 4px;
  position: relative;
}

.task-check:checked::after {
  content: '';
  position: absolute;
  left: 5px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
