h2 {
  margin: 0;
}
.wrapper {
  padding: 20px;
  border-right: 2px solid #171717;
  height: 100%;
}

.add-task {
  margin: 17px 0;
}

.add-task input {
  width: 100%;
  height: 40px;
  padding: 12px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  background-color: #171717;
  color: white;
}

input:focus {
  outline: none;
}

input::placeholder {
  opacity: 0.8;
  font-style: italic;
  color: white;
}

.task-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task-box {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  background-color: #1f1f1f;
  border-radius: 5px;
  font-size: 15px;
  gap: 10px;
}

.task-check {
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: transparent;
  border: 2px solid white;
  border-radius: 4px;
  position: relative;
}

.task-check:checked::after {
  content: '';
  position: absolute;
  left: 6px;
  top: 1px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

@media (max-width: 768px) {
  .wrapper {
    border-right: none;
    height: 100%;
  }
}
