h2 {
  margin: 0;
}
.wrapper {
  padding: 20px;
  border-right: 2px solid #171717;
  height: 100%;
}

form {
  margin: 17px 0;
}

input {
  width: 100%;
  height: 40px;
  padding: 12px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  background-color: #171717;
  color: white;
}

input:focus {
  outline: none;
}

input::placeholder {
  opacity: 0.8;
  font-style: italic;
  color: white;
}

.task-container {
  display: flex;
  flex-direction: column;
  gap:10px;
}

.task-box {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  background-color: #1F1F1F;
  border-radius: 5px;
  font-size: 15px;
}

@media (max-width: 768px) {
  .wrapper {
    border-right: none;
    height: 100%;
  }
}
