<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->

<div class="wrapper">
  <div>
    <h2>
      {{ listHeader }}
    </h2>
    @if (tagName.length) {
      <span> - {{ tagName }}</span>
    }
    @if (listName.length) {
      <span> - {{ listName }}</span>
    }
  </div>

  <form (ngSubmit)="onSubmit()" #taskForm="ngForm">
    <div class="add">
      <input
        for="text"
        id="newTask"
        name="newTask"
        placeholder=" ✚ Add task..."
        [(ngModel)]="model.name"
      />
      <button class="img-button" type="submit" [disabled]="!taskForm.form.valid">
        <img src="save.png" alt="trash" width="29px" height="29px" />
      </button>
    </div>
  </form>

  <div class="task-container">
    @for (task of tasks() || []; track task._id) {
      <div class="task-box">
        <input
          type="checkbox"
          [id]="'checkbox' + task._id"
          class="task-check"
          (change)="completeTask($event, task._id)"
        />

        <label
          tabindex="0"
          (click)="showTaskDescription(task._id)"
          (keydown.enter)="showTaskDescription(task._id)"
          (keydown.space)="showTaskDescription(task._id)"
        >
          {{ task.name }}
        </label>

        <div class="task-date" [class.task-date-late]="taskService.checkDate(task.dueDate)">
          {{ task.dueDate | date: 'dd.MM.yyyy' }}
        </div>
      </div>
    }
  </div>
</div>
