.main-container {
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-template-columns: minmax(300px, 1fr) minmax(200px, 500px);
  position: relative;
  height: 100%;
}

@media (max-width: 768px) {
  .main-container {
    display: block;
  }

  .main-container.mobile-details .left {
    display: none;
  }

  .main-container.mobile-details .right {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    overflow-y: auto;
    padding: 15px;
  }

  .back-btn {
    display: inline-block;
    margin-bottom: 15px;
    padding: 8px 12px;
    background: #ddd;
    border-radius: 6px;
    border: none;
  }
}
