.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 300px;
  min-height: 100px;
  box-sizing: border-box;
  background-color: black;
  border-radius: 25px;
  padding: 20px;
}
