.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
  box-sizing: border-box;
  background-color: black;
  border-radius: 25px;
  padding: 20px;
}

@media (max-width: 870px) {
  .wrapper {
    width: 300px;
  }
}
