.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.flex-container {
  display: flex;
}

.list-button {
  background: none;
  border: none;
  cursor: pointer;
}

.add {
  display: flex;
  gap: 10px;
}
