.wrapper {
  display: flex;
  flex-direction: column;
  gap: 17px;
  margin: 20px 5px;
}

h3 {
  margin: 0;
}

.tag-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.emoji {
  font-size: 20px;
  vertical-align: middle;
  line-height: 1;
}

.tag-box {
  display: flex;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  padding: 10px;
  background-color: #252525;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  border: none;
  color: white;
}

@media (max-width: 870px) {
  .tag-description {
    display: none;
  }

  .tag-box {
    justify-content: center;
  }
}
