.wrapper {
  display: flex;
  flex-direction: column;
  gap: 17px;
  margin: 20px 5px;
}

h3 {
  margin: 0;
}

.tag-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 870px) {
  .tag-description {
    display: none;
  }

  .tag-box {
    justify-content: center;
  }
}
