.wrapper {
  display: grid;
  grid-template-columns: 250px 1fr;
  min-height: 100vh;
}

.navigation {
  box-sizing: border-box;
  margin: 20px;
}

.content {
  background-color: var(--accent-color);
  box-sizing: border-box;
  margin: 20px 20px 20px 0;
  border-radius: 25px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 17px;
  margin: 20px 5px;
}

.list-element {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

.list-element img {
  width: 29px;
  height: 29px;
}

@media (max-width: 870px) {
  .wrapper {
    grid-template-columns: 100px 1fr;
  }

  .content {
    margin: 10px 10px 10px 0;
    border-radius: 25px;
  }

  .list-description {
    display: none;
  }

  .list-element {
    justify-content: center;
  }
}
