.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.flex-container {
  display: flex;
}

#newEmoji {
  width: 100px;
  text-align: center;
  font-size: larger;
}

#newEmoji::placeholder {
  font-size: 15px;
}

.add {
  display: flex;
  gap: 10px;
}

emoji-mart {
  position: absolute;
  z-index: 9999;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
