.wrapper {
  display: flex;
  flex-direction: column;
  gap: 17px;
  margin: 20px 5px;
}

h3 {
  margin: 0;
}

.list-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 870px) {
  .list-description {
    display: none;
  }

  .list-box {
    justify-content: center;
  }
}
