<div class="wrapper">
  <div class="upperbar">
    <div class="container">
      <ul>
        <li><input type="checkbox" class="task-check" [checked]="task.isCompleted" /></li>
        <li>
          <img src="calendar-weeks.png" alt="calendar" width="29px" height="29px" />
        </li>
        <li>
          <span>{{ task.dueDate | date: 'dd.MM.yyyy' }}</span>
        </li>
        <li><img src="delete.png" alt="calendar" width="29px" height="29px" /></li>
      </ul>
    </div>
  </div>

  <div class="description-container">
    <h3>{{ task.name }}</h3>
    <div class="flex-container">
      <h4>Tags:</h4>
      @for (tag of task.tags; track tag.id) {
        <div class="tag-box">{{ tag.name }}</div>
      }
      <button class="add-tag">✚ new tag</button>
    </div>
    <div class="flex-container">
      <h4>List:</h4>
      <div class="select-wrapper">
        <select [ngModel]="taskList">
          <option [ngValue]="null">-- brak listy --</option>
          @for (list of lists; track list.id) {
            <option [ngValue]="list.id">{{ list.name }}</option>
          }
        </select>

        <span class="arrow down"></span>
      </div>
    </div>
    <div #editorContainer class="editor-container"></div>
  </div>
</div>
