.upperbar {
  border-bottom: 2px solid #171717;
  height: 60px;
  width: 100%;
}

.container {
  box-sizing: border-box;
  padding: 10px 20px;
}

.container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

.container ul li:last-child {
  margin-left: auto;
}

.description-container {
  box-sizing: border-box;
  padding: 10px 20px;
}

.editor-container {
  border: 1px solid #ccc;
  padding: 8px;
  background-color: #1a1a1a;
  color: white;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .wrapper {
    border-left: none;
    height: 100%;
  }
}
