.upperbar {
  border-bottom: 2px solid #171717;
  height: 60px;
}

.container {
  box-sizing: border-box;
  padding: 10px 20px;
}

.container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 20px;
}

.container ul li:last-child {
  margin-left: auto;
}

.description-container {
  box-sizing: border-box;
  padding: 10px 20px 30px 20px;
}

.editor-container {
  border: 1px solid #ccc;
  padding: 8px;
  background-color: #1a1a1a;
  color: white;
  border-radius: 4px;
}

.tags-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

h4 {
  margin: 0;
}

.tag-box {
  box-sizing: border-box;
  background-color: #171717;
  padding: 10px 15px;
  border-radius: 5px;
  max-width: 100%;
  word-wrap: break-word;
}

@media (max-width: 870px) {
  .wrapper {
    border-left: none;
    height: 100%;
  }
}
